.git
node_modules
/Makefile

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/data
/library
/thumbnails
/uploads

# OS
.DS_Store
Thumbs.db

# Editors
/.vscode
/.idea

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
